body{
margin:0;
padding:0;
font-family:"Merriweather Sans",sans-serif;
overflow-x:hidden;
}

.banners{
visibility:hidden;
}

.pagina{
color:white;
}

.headtekst{
visibility:hidden;
}

.container{
position:relative;
min-height:100vh;
margin:0;
}

.header{
background-color:#BFBD1D;
width:100em;
height:20em;
}

.logo{
background-image:url(../images/logo.png);
background-size:contain;
background-repeat:no-repeat;
position:relative;
left:2em;
top:2em;
width: 20em;
height: 20em;
}

.menu{
background-image:url(../images/nav.png);
background-size:contain;
background-repeat:no-repeat;
position:relative;
right:-60em;
top:-15em;
width: 10em;
height:10em;
}

.dropdown{
visibility:hidden;
}

li{
position:relative;
left:-4em;
text-align:center;
font-size:3em;
list-style:none;
line-height:2em;
z-index:2;
}

.balk{
visibility:hidden;
background-color:#BFBD1D;
position:relative;
top:-64em;
width:100em;
height:75em;
z-index:1;
}

.menu:hover ~.balk{
visibility:visible;
}

.menu:hover ~.dropdown{
visibility:visible;
}

.tekst{
position:relative;
top:-20em;
width:60em;
margin-left:10em;
height:90em;
margin-bottom:10em;
}

h1{
font-size:5em;
}

p{
font-size:3em;
}

footer{
position:relative;
bottom:0;
background-color:#4E4D32;
width:100em;
height:65em;
overflow:hidden;
margin:0;
}

.fb{
background-image:url(../images/FB.png);
background-size:contain;
background-repeat:no-repeat;
position:relative;
top:1em;
left:1em;
width: 8em;
height:8em;
}

.mail{
background-image:url(../images/mail.png);
background-size:contain;
background-repeat:no-repeat;
position:relative;
top:1em;
left:1em;
width: 8em;
height:8em;
}

.west{
position:relative;
top: -15em;
left: 20em;
}

.oost{
position:relative;
top:-10em;
left: 20em;
}

h2{
font-size:4em;
color:#BFBD1D;
}

.voet{
font-size:3em;
color:white;
}

.lijst{
position:static;
color:#BFBD1D;
}

@media only screen and (min-width:350px){
.menu{
background-image:url(../images/nav.png);
background-size:contain;
background-repeat:no-repeat;
position:relative;
right:-70em;
top:-15em;
width: 10em;
height:10em;
}

li{
position:relative;
left:-3em;
text-align:center;
font-size:3em;
list-style:none;
line-height:2em;
z-index:2;
}

.tekst{
position:relative;
top:-15em;
width:60em;
margin-left:12em;
height:90em;
margin-bottom:10em;
}

}

@media only screen and (min-width:400px){
.menu{
background-image:url(../images/nav.png);
background-size:contain;
background-repeat:no-repeat;
position:relative;
right:-75em;
top:-15em;
width: 10em;
height:10em;
}

li{
position:relative;
left:-1em;
text-align:center;
font-size:3em;
list-style:none;
line-height:2em;
z-index:2;
}

.tekst{
position:relative;
top:-15em;
width:60em;
margin-left:17em;
height:90em;
margin-bottom:10em;
}

}

@media only screen and (min-width:720px){
.menu{
visibility:hidden;
}

.dropdown{
visibility:hidden;
}

.headtekst{
visibility:visible;
position:absolute;
top:4em;
font-size:2.5em;
right:-20em;
}

th{
padding-left:2em;
}

h1{
font-size:4em;
}

.tekst{
position:relative;
top:2em;
width:70em;
margin-left:13em;
height:90em;
margin-bottom:10em;
}

.banners{
visibility:visible;
width:100em;
height:35em;
}

.epc{
background-image:url(../images/EPC2.png);
background-size:cover;
background-repeat:no-repeat;
position:relative;
left:7em;
top:-5em;
width:25em;
height:35em;
border-radius:3em;
}

.airco{
background-image:url(../images/Aircokeuring2.png);
background-size:cover;
background-repeat:no-repeat;
position:relative;
left:37em;
top:-43em;
width:25em;
height:35em;
border-radius:3em;
}

.plaatsbeschrijving{
background-image:url(../images/Plaatsbeschrijving2.png);
background-size:cover;
background-repeat:no-repeat;
position:relative;
left:67em;
top:-81em;
width:25em;
height:35em;
border-radius:3em;
}

h1{
font-size:3em;
}

p{
font-size:2em;
}

.lijst{
font-size:3em;
}

.tekst{
margin-bottom:-15em;
}

footer{
margin-top:0;
}

h2{
font-size:3em;
}

.voet{
font-size:2em;
}

footer{
height:50em;
}

.inbanners{
position:relative;
top:5em;
color:white;
font-weight:700;
font-size:3em;
}

}

@media only screen and (min-width:800px){
.headtekst{
visibility:visible;
position:absolute;
top:4em;
font-size:2.5em;
right:-17em;
}

}

@media only screen and (min-width:900px){
.headtekst{
visibility:visible;
position:absolute;
top:4em;
font-size:2.5em;
right:-15em;
}

}

@media only screen and (min-width:1024px){
.container{
margin:0;
}

.header{
height:12em;
}

.logo{
background-image:url(../images/logo.png);
background-size:contain;
background-repeat:no-repeat;
position:relative;
left:1em;
top:1em;
width: 13em;
height: 13em;
}

.headtekst{
visibility:visible;
position:absolute;
top:4em;
font-size:1em;
right:3em;
}

.epc{
background-image:url(../images/EPC.png);
background-size:cover;
background-repeat:no-repeat;
position:relative;
left:15em;
top:-5em;
width:18em;
height:25em;
border-radius:1em;
}

.airco{
background-image:url(../images/Aircokeuring.png);
background-size:cover;
background-repeat:no-repeat;
position:relative;
left:37.5em;
top:-32em;
width:18em;
height:25em;
border-radius:1em;
}

.plaatsbeschrijving{
background-image:url(../images/Plaatsbeschrijving.png);
background-size:cover;
background-repeat:no-repeat;
position:relative;
left:60em;
top:-59em;
width:18em;
height:25em;
border-radius:1em;
}

.inbanners{
font-size:2em;
}

h1{
font-size:2em;
}

.tekst{
position:relative;
top:-13em;
margin-bottom:0;
height:15em;
}

p{
font-size:1em;
}

.lijst{
font-size:1em;
}

footer{
position:relative;
}

.fb{
height:3em;
width:3em;
}

.mail{
height:3em;
width:3em;
}

h2{
font-size:1em;
}

.voet{
font-size:1em;
}

.west{
position:relative;
top:-5em;
}

.oost{
position:relative;
top: -14em;
left: 50em;
}

footer{
position:relative;
bottom:0;
height:15em;
margin-top:5em;
}

.epc:hover{
background-image:url(../images/EPC2.png);
background-size:cover;
background-repeat:no-repeat;
}

.airco:hover{
background-image:url(../images/Aircokeuring2.png);
background-size:cover;
background-repeat:no-repeat;
}

.plaatsbeschrijving:hover{
background-image:url(../images/Plaatsbeschrijving2.png);
background-size:cover;
background-repeat:no-repeat;
}

.lijst{
position:relative;
left:-1em;	
}
}